.App-header {
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.App-logo {
  font-size: 2rem;
  font-weight: bold;
}
.App-logo-2 {
  color: #ffcc00;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ul li {
  cursor: pointer;
  transition: color 0.3s ease;
}

ul li:hover {
  color: #ffcc00;
  text-decoration: underline;
}
